{% extends "layout.html" %}

{% block content %}


<script>
    {% if data %}
        var steps = JSON.stringify({{data['mash'] | tojson }})
        localStorage['steps'] = steps
    {% endif %}
</script>


<h1 class="center">Brew System</h1>


        <div>
            <form class="center">
                <label class="center"><h2>{{ data['recipe_name'] }}</h2></label>


                <div class="lineup">
                    <label for="mash"><h4>Mash Steps</h4></label>
                    <ul style="list-style-type:none" id="mash" name="mash_steps">
                        {% for step in range(data['mash'] | length) %}
                        <li class="left">{{ "{0} at {2} for {1}".format(*data['mash'][step]) }}</li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="lineup">
                    <label name="current_step"><h4>step name here</h4></label>
                    <h1 class="timer_display" id="timer" name="timer">00:00</h1>
                </div>
                <div class="lineup">
                    <label for="boil"><h4>Boil Steps</h4></label>
                    <ul style="list-style-type:none" id="boil" name="boil_step">
                        {% for hops in data['boil'] | sort(reverse=True) %}
                            {% for hop in data['boil'][hops] %}
                            <li class="left">{{ "{1} oz {0} at {2} minutes".format(*hop) }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn">
                    <button >Set</button>
                    <input type="button" value="reset">
                    <input type="submit"  value="Run">
                </div>
            </form>
        </div>
{% endblock %}
