<!DOCTYPE html>
<html>
    <head>
        {# put a "block head" here #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Brew Some Beer!{% endblock %}</title>
        <link href="/static/styles.css{{ query }}" rel="stylesheet" type="text/css" />
        {# "endblock" here #}
    </head>
    <body>
        {% block header %}
        <!-- nav tag instead of div? -->
        <div class="nav-bar">
            <!-- <ul> here with each <a> in a <li> -->
            <a class="links" href="/">Home</a>
            <a class="links" href="/timer">Timer</a>
            <a class="links" href="/recipes">Recipes</a>
            <a class="links" href="/set">Set</a>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
