{# Jinja block that inherits form layout.html #}
{% extends 'layout.html' %}
{% block content %}
        <h1 id="timer">00:00</h1>
        <button onclick="start()" id="start">start</button>
        <button onclick="stop()" id="stop">stop</button>
        <button onclick="reset()" id="reset">Reset</button>
        <br><br>
        <div>
            <input id="mn" type="number" min="0" max="90" placeholder="MM">
            <input id="sec" type="number" min="0" max="59" placeholder="SS">
            <button id="save" type="button" onclick="setTimer()">Save</button>
            <p id="minutes">(jinja2 var)minutes = {{ timer_vals.get('minutes') }}</p>
            <p id="seconds">(jinja2 var)seconds = {{ timer_vals.get('seconds') }}</p>
        </div>
        <script src="/static/timer.js{{ query }}"></script>
{% endblock %}
